<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-toastyplugin" version="0.0.1">
    <name>ToastyPlugin</name>

    <description>An Android Cordova plugin that wraps talks to android GPS and not w3c library</description>
    <license>MIT</license>

    <keywords>cordova,android,toast,message,alert</keywords>
    <repo>https://github.com/snc001/CordovaIonicGpsWrapper.git</repo>
    <issue>https://github.com/snc001/CordovaIonicGpsWrapper/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/CordovaIonicGpsWrapperPlugin.js" name="CordovaIonicGpsWrapperPlugin">
        <clobbers target="window.plugins.CordovaIonicGpsWrapperPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CordovaIonicGpsWrapperPlugin">
                <param name="android-package" value="com.mbm.cordova.plugin.CordovaIonicGpsWrapperPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/GpsWrapperPlugin.java" target-dir="src/com/stanleyidesis/cordova/plugin" />
    </platform>
</plugin>
