<?xml version="1.0" encoding="utf-8" ?>
<plugin id="nz.co.monitorbm.bluepos" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BluePos</name>
    <js-module name="CordovaIonicGpsWrapper" src="www/CordovaIonicGpsWrapperPlugin.js">
        <clobbers target="cordova.plugins.CordovaIonicGpsWrapper"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="CordovaIonicGpsWrapper">
                <param name="android-package" value="nz.co.monitorbm.ionicgpswrapper.CordovaIonicGpsWrapper"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/CordovaIonicGpsWrapper.java"
                     target-dir="src/nz/co/monitorbm/ionicgpswrapper/CordovaIonicGpsWrapper"/>
    </platform>
</plugin>
